@charset "utf-8";
/* CSS Document */

.adc-dragndrop { position:relative; }
.adc-dragndrop * {
    user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.adc-dragndrop .responseItem { 
	float:left; display:block; 
	padding:5px;
	margin:10px;
	
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	
	position:relative; z-index:1; cursor:pointer; 
}
.adc-dragndrop img {
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	image-rendering: auto;	
}

.adc-dragndrop .response_text { 
	display:block; text-align:center; padding-bottom:10px; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box;  
}

.adc-dragndrop .responseActive { }

.adc-dragndrop .startArea { 
	display:block; width:400px; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.adc-dragndrop .clear { clear:both; }

.adc-dragndrop .dropContainer { 
	display:block; width:300px; z-index:0; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.adc-dragndrop .dropZone { 
	vertical-align:top;
	display:block; width:270px; height:150px; margin:5px; padding:10px; z-index:0; 
	box-sizing: border-box; 
	-ms-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
}

.adc-dragndrop .drop_text { display:block;  width:100%; }
.adc-dragndrop .responseItemMini { position:relative; cursor:pointer; }
.adc-dragndrop .responseItemMini .cross { display:none; width:100%; height:100%; position:absolute; top:0px; left:0px; }
.adc-dragndrop .responseItemMini .cross img { width:100% !important; height:auto; vertical-align:middle; }